body {
    background-color: #ECF0F3 !important;
}

.m-tb-16 {
    margin: 16px 0;
}

.list-group-noborder {
    border-top: none !important;
    border-bottom: none !important;
}

.icon-right {
    position: absolute;
    right: 16px;
    top: 1em;
}

.card-shadown {
    box-shadow: 0 0 1px 1px rgba(33, 33, 33, .2);
    transition: box-shadow .15s ease-in-out;
}

.card-shadown:hover {
    box-shadow: 0 0 10px 3px rgba(33, 33, 33, .2);
}

.card-footer-link {
    text-decoration: none !important;
    color: #666 !important;
}

.card-footer-link:hover {
    color: #000 !important;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
}